OneClick
stdiomask
user-agent
instaloader
requests
rich
pyTelegramBotAPI
python-cfonts
mechanize
pyfiglet
socks
youtube_dl
pysocks
beautifulsoup4
pafy
bs4
InstagramAPI
colorama
selenium
curl2pyreqs
pycountry
fake-useragent
